html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	display: flex;
	justify-content: center; /* 水平居中 */
	font-size: 12pt;
	font-weight: 400;
	color: rgba(0,0,0,.8);
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	color: #000000;
}

h2 {
	padding: 0px 0px 10px 0px;
	font-size: 1em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 120%;
	font-size: 9pt;
}

span{
	color: red;
}

strong {
}

a {
	color: rgba(0,0,0,0);
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}


.slider-container {
	width: 100%;
	max-width: 100%; /* 设置幻灯片容器的最大宽度 */
	margin: 0 auto; /* 居中 */
	overflow: hidden; /* 隐藏溢出的内容 */
	position: relative;
}

.slider {
	display: flex;
	transition: transform 0.5s ease; /* 添加过渡效果 */
}

.slide {
	flex: 0 0 100%; /* 让每个幻灯片占据整个容器的宽度 */
}

img {
	width: 100%;
	height: auto;
}

/* 添加左右切换按钮样式 */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	z-index: 1; /* 确保按钮在幻灯片上方 */
}

.prev {
	left: 0;
}

.next {
	right: 0;
}


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image
{
	display: inline-block;
	border: 1px solid rgba(0,0,0,.1);
}

.image img
{
	display: block;
	width: 100%;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 3em 0;
}

.image-left
{
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered
{
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img
{
	margin: 0 auto;
	width: auto;
}


hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	background: #FFF;
	margin: 0px 2px;
	width: 100%;
	height: 100%;
	position: relative;
}

.container {
	width: 100%;
}

.clearfix {
	clear: both;
}

/** HEADER */


#header {
	position: relative;
	overflow: hidden;
	height: 600px;
}

#social
{
	position: absolute;
	top: 4em;
	right: 0;
}

/** LOGO */

#logo {
	position: absolute;
	top: 3em;
	padding: 1em 1em;
	left: 0;
	background: rgba(0,0,0,.8);
	text-align: center;
}

#logo h1, #logo p {
	margin: 0;
}

#logo h1 {
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.5em;
	font-weight: 700;
	color: #FFF;
}

#logo p {
	padding: 0px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 0.9em;
	color: #FFF;
}

#logo p a {
	color: #FFF;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFF;
}

/** MENU */

#menu {
	overflow: hidden;
	background: rgba(171, 92, 210, 0.24);
	text-align: center; /* 文本水平居中 */
	margin-top: 5px;

}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;

}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 5px 0px 5px;
	line-height: 25px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: rgb(0, 0, 0);
	border: none;
}

/* 在小屏幕下（例如移动设备），菜单项垂直排列 */
@media screen and (max-width: 768px) {
	.menu li {
		display: block; /* 将菜单项变为块级元素 */
		margin: 5px 0; /* 设置菜单项之间的垂直间距 */
	}
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

#menu .current_page_item a {
}

#menu .last {
	border-right: none;
}

/** PAGE */

#page {
	overflow: hidden;
	padding: 0.5em 0em;
}

#page img
{
	margin-bottom: 1em;
}

#page .title
{
	margin-bottom: 0.5em;
}

#page .title h2
{
	font-size: 1em;
	font-weight: 400;
}

#page .title .byline
{
	display: block;
	padding-bottom: 2em;
	color: rgba(0,0,0,0.7);
}

/** CONTENT */

#content {
	float: left;
	width: 800px;
	padding-right: 50px;
	border-right: 1px solid #E6E7DC;
}

#content .post-title
{
	margin-bottom: 2em;
}

#content .post-title h2
{
	margin: 0;
	padding: 0;
}


#content .post
{
	margin-bottom: 4em;
	padding-bottom: 4em;
	border-bottom: 1px solid #E6E7DC;
}

/** SIDEBAR 1 */

#sidebar1 {
	float: right;
	width: 250px;
	margin-right: 50px;
}

#sidebar1 #box1 {
	margin-bottom: 4em;
}

#sidebar1 h2,
#sidebar2 h2
{
	font-size: 1.5em;
	font-weight: 400;
}

/** SIDEBAR 2 */

#sidebar2 {
	float: right;
	width: 250px;
}

/* Footer */

#footer {
	overflow: hidden;
	padding: 50px 0px 30px 0px;
}

#footer p {
	text-align: center;
	color: rgba(0,0,0,0.7);
}

#footer a {
	color: rgba(0,0,0,0.7);
}

/* List style 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 10px 0px 15px 0px;
	border-top: 1px solid #E6E7DC;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}

/* List style 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 25px 0px 15px 0px;
	border-top: 1px solid #E6E7DC;
}

ul.style2 .first {
	padding-top: 0px;
	border-top: none;
}

ul.style2 h3 {
	padding: 0px 0px 10px 0px;
	font-size: 1.10em;
}

ul.style2 h3 a {
	color: #3e86d8;
}

ul.style2 a {
	text-decoration: none;
}

ul.style2 a:hover {
	text-decoration: underline;
}


/* List style 3 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #E6E7DC;
}

ul.style3 p {
	margin: 0px;
	padding: 0px;
}

ul.style3 img {
	float: left;
	margin-top: 3px;
	margin-right: 20px;
}

ul.style3 .posted {
	padding: 10px 0px 10px 0px;
	font-size: 8pt;
	color: #A2A2A2;
}

ul.style3 .first {
	padding-top: 0px;
	border-top: none;
}

.link-style {
	display: inline-block;
	margin-top: 20px;
	padding: 7px 20px;
	background: #0C73D4;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
}


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
	margin-bottom: 3em;
}

.title h2
{
	margin: 0;
	padding: 0;
	font-size: 2.8em;
	color: rgb(0, 0, 0);
}

.title .byline
{
	padding-top: 0.50em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1em;
	color: #6F6F6F;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button
{
	display: inline-block;
	margin-top: 2em;
	padding: 0em 1em;
	background: #3e86d8;
	letter-spacing: 0.10em;
	line-height: 3em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1em;
	color: #FFF;
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact
{
	margin: 0;
	padding: 2em 0em 0em 0em;
	list-style: none;
}

ul.contact li
{
	display: inline-block;
	padding: 0em 0.10em;
	font-size: 1em;
}

ul.contact li span
{
	display: none;
	margin: 0;
	padding: 0;
}

ul.contact li a
{
}

ul.contact li a:before
{
	display: inline-block;
	background: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: rgba(255,255,255,1);
}


.column1
{
	width: 50%;
}

.column2
{
	width: 49%;
}

.column3
{
	width: 50%;
}

.column4
{
	width: 49%;
}

.column1,
.column2,
.column3,
.column4
{
	float: left;
	margin-right: 5px;
}
